page-home {
        ion-header{
            background: #bdb8ad !important;
            color: white ;
        }
        ion-content{
            background: #ebe7e0 !important;
        }
        ion-card{
            background: #ffffff !important;
        }
}
